/*--------------------------------------------------\
| cool        |                 | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| FrontAccounting 									|
| http://FrontAccounting.com/  	            		|
| by Joe Hunt Consulting                            |
|---------------------------------------------------|
| Developer:                                        |
| Joe Hunt                                          |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout FrontAccounting.             |
|                                                   |
\--------------------------------------------------*/

body {
	font-family: Verdana, Arial, Helvetica;
	background: #60687b;
	font-size: 10px;	
	margin: 5px 0 0 5px;
	padding: 0;
}

tr, td, th {
	font-size: 11px;
	line-height: 19px;
}

textarea {
	font-size: 12px;
}

input, select {
	font-size: 11px;
	padding: 1px; 
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

a {
	color: #0000bb;
	font-size: 11px;	
	text-decoration: none;
}

a:link {
	color: #0000bb;
	text-decoration: none;
}

a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #2d8628;
	text-decoration: underline;
}


.login {
	background-color: #ffffff;
	border: none;
}

.callout_main {
	font-family: Verdana, Arial, Helvetica;
	border: none;
	width: 99%;
	margin: 0;
	padding: 0;
}

.main_page {
	background-color: #eff9f9;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.quick_menu {
	background-color: #60687b;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: right;
}

.quick_menu_selected {
	font-family: Verdana, Arial, Helvetica;
	font-size: 13px;
	border: none;
	white-space: nowrap;
	margin: 2px;
	padding: 2px;
	color: #00cc00;
	font-weight: bolder;
}

.logoutBar {
	padding-right: 1em; 
	background: #e4ecec; 
	color: black; 
	border-bottom: 1px solid #cccccc; 
	width: 100%;
}

.bottomBar {
	padding-right: 1em; 
	background: #e4ecec; 
	color: black; 
	border-bottom: 1px solid #cccccc; 
	width: 100%;
}

.bottomBarCell {
	font-size: 10px;
	line-height: 12px;
}

.bottomBar2 {
	padding-right: 1em; 
	background: #e4ecec; 
	color: black; 
	border-top: 1px solid #cccccc; 
	border-bottom: 1px solid #cccccc; 
	width: 100%;
}

.logoutBarRight {
	text-align: right;
}

div.logoutBar {
	padding-right: 1em; 
	background: #e4ecec; 
	color: black; 
	border-bottom: 1px solid #cccccc; 
	text-align: right;
}
div.logoutBar a {
	font-weight: normal; 
	margin-left: 1em; 
	color: #436976; 
	background-color: transparent;
}
div.logoutBar img {
	vertical-align: top;
}

div.tabs {
	padding: 0.5em 0 0 0; 
	background: none transparent scroll repeat 0% 0%; 
	white-space: nowrap; 
	border-collapse: collapse; 	
	border-bottom: 1px solid #cccccc; 		

}
div.tabs a {
	border: 1px solid #cccccc; 
	padding: 0 1em 3px 1em; 
	font-weight: normal; 
	background: white scroll repeat 0% 0%; 
	color: #436976; 
	margin-right: 0.0em; 
	height: 1.0em;
}
div.tabs a.selected {
	border-top: 1px solid #cccccc; 
	border-right: 1px solid #cccccc; 
	border-bottom: 1px solid #e4ecec;
	border-left: 1px solid #cccccc; 
	font-weight: normal; 
	background: #e4ecec; 
	color: #436976; 
}
div.tabs a:hover {
	border-top-color: #cccccc; 
	border-right-color: #cccccc;
	border-bottom-color: #e4ecec; 
	border-left-color: #cccccc; 
	background: #e4ecec; 
	color: #436976; 
}

.menu_group {
	font-size: 13px;
	padding: 0px;
	color: #455372;
	background-color: #e4ecec;
	PADDING-LEFT: 3px; 
	font-weight: bold;
}

.menu_group_items {
	background-color: #eff9f9;
	font-weight: normal;
	padding: 9px;
	border: 1px solid #cccccc;
}

#footer {
	position: relative;
	bottom: -3px;
}

.footer {
	font-family: Verdana, Arial, Helvetica;
	color: #cccccc;
	font-weight: normal;
	font-size: 9px;
}

.tableheader {
	font-weight: bold;
	background-color: #788da1;
	color: white;
	text-align: center;
}

.tableheader2 {
	font-weight: bold;
	background-color: #788da1;
	color: white;
	text-align: left;
}

.tableseparator {
	border-left: 1px #444466 solid;
}

.titletext {
	font-weight: bold;
	font-size: 13px;	
	color: #455372;
	border-bottom: 1px solid #cccccc;
	padding: 5px;
}

.headingtext {
	font-weight: bold;
	font-size: 13px;	
	color: #455372;
}

.headingtext2 {
	font-size: 13px;	
	color: #455372;
}

.headingtext3 {
	font-weight: bold;
	font-size: 10px;	
	color: #455372;
}

.errortext {
	font-size: 13px;	
	color: #ff0000;
	font-weight: bold;
}

.inputsubmit {
	font-size: 11px;
	border: 1px solid #0066cc;
	padding: 1px 4px; 
}

.oddrow {
	background-color: #ffffff;
}

.evenrow {
	background-color: #eaedf1;
}	

.overduebg {
	background-color: pink;
}	

.overduefg {
	color: #dd7777;
}	

.currentfg {
	color: #ff6666;
}	

.redfg {
	color: red;
	font-weight: bold;
}	

.settledbg {
	background-color: #00bb00;
}	

.settledfg {
	color: #00bb00;
}	

.inquirybg {
	background-color: #fdfeef;
}

.currencybg {
	background-color: #ee8888;
}

.stockmankobg {
	background-color: pink;
}

.tablestyle {
	padding: 3px;
	border: 1px solid #cccccc;
	border-collapse: collapse;
}	

.tablestyle2 {
	padding: 0 3px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}	
.tablestyle_noborder {
	padding: 3px;
}

.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	text-align: right;
}

input.amount {
	padding-right: 0px;
	border-right: none;
}