/*--------------------------------------------------\
|               |               | login.css         |
|---------------------------------------------------|
| For use with:                                     |
| FrontAccounting 									|
| http://frontaccounting.net/           			|
| by FrontAccount, LLC                              |
|---------------------------------------------------|
| Developer:                                        |
| Joe Hunt                                          |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected on the login screen.                    |
|                                                   |
|                                                   |
\--------------------------------------------------*/

body {
	font-family: Verdana, Arial, Helvetica;
	background: #f5f5f5;
	font-size: 10px;
	margin: 5px 0 0 5px;
	padding: 0;
}

tr, td, th {
	font-size: 11px;
	line-height: 19px;
}

table {
	text-align: left;
}

input, select {
	font-size: 11px;
	padding: 1px;
}

select {
    max-width: 200px;
}

a {
	color: #0000bb;
	font-size: 11px;
	text-decoration: none;
}

a:link {
	color: #0000bb;
	text-decoration: none;
}

a:active {
	color: #000000;
	text-decoration: none;
}

a:hover, a:focus {
	color: #2d8628;
	text-decoration: underline;
}

.tableheader {
	font-weight: bold;
	background-color: #d1dfec;
	color: black;
	text-align: center;
}

.bottomBar {
	padding-right: 1em;
	background-color: #d1dfec;
	color: black;
	border-bottom: 1px solid #8cacbb;
	width: 100%;
}

.bottomBarCell {
	font-size: 10px;
	line-height: 12px;
}

.footer {
	text-align: center;
	margin-top: 5px;
	width: 100%;
}

.footer td a {
	color: #666666;
	font-size: 9px;
}

.titletext {
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #8cacbb;
	padding: 5px;
	width: 100%;
}

.tablestyle2 {
	width: 350px;
	border-left: 12px solid #367cb5;
	border-collapse: collapse;
	background-color: #eeeeee;
}
